<br />
<a href="/detalle/1">
    <h4>Carpaccio fresco</h4>
    <p class="ps-text-grey">
        Entrada Carpaccio de salmón con cítricos U$S 65.50
    </p>
</a>

<br />
<a href="/detalle/2">
    <h4>Risotto de berenjena</h4>
    <p class="ps-text-grey">
        Risotto de berenjena y queso de cabra U$S 47.00
    </p>
</a>

<br />
<a href="/detalle/3">
    <h4>Mousse de arroz</h4>
    <p class="ps-text-grey">
        Mousse de arroz con leche y aroma de azahar U$S 27.50
    </p>
</a>

<br />
<a href="/detalle/4">
    <h4>Espárragos blancos</h4>
    <p class="ps-text-grey">
        Espárragos blancos con vinagreta de verduras y jamón ibérico U$S
        37.50
    </p>
</a>

<br />